* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
  }

.namecard{
  color: #CED4DA;

}
 


container{
    display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 100vh;
  scroll-snap-align: start;
  color: #CED4DA;

}

.con1{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 15vh;
  scroll-snap-align: start;
  background-color: #212529;
  color: #DEE2E6;
}
.con1 p{
  color: #DEE2E6;

}

.con1 a{
  color: #DEE2E6;

}
.firstcard{
 width: 100%;
 position: relative;
}

#title{
  font-size: 30px;

}

.projectcon{
  width: 65%;
  height: 30%;
  margin: auto;
  margin-top: 0%;
}
.down{
  margin-top: 20vh;
}

.limg{
  width: 191px;
  margin: 0%;
  display: inline-block;

}

.limg a img{
  display: inline-block;
  vertical-align: middle;

}
.card{
  border: white;
  box-sizing: border-box;
  border-style: solid;
  width: 40%;
  height: 30%;
  overflow: auto;
  margin-right: 50vh;

}
.card img{
  width: 100%;
  height: 100%;
  display: block;

}

.cleft{
  width: 60%;
  display: inline-block;
  vertical-align: middle;
}


#c1{
  margin-right: 50%;
}

#c2{
  margin-left: 75%;
}

#c3{
  margin: auto;
}

#c3i{
  margin-top: 40px;
}

#c3w{
  margin-left: 15px;
}



.ncl{
  width: 30%;
  border: white;
  height:95%;
  border-style: solid;
  transition: transform .5s;
  flex-direction: row;
  display:inline-block;
  word-wrap: break-word;
  align-items: center;
  margin-top: 10%;
  margin-left: 3%;
  font-size: smaller;
  vertical-align: middle;
}
a{
  text-decoration: none;
  color: black;
}
.ncl img{
  width: 50%;
  height: 60%;
}

.ncl:hover{
  transform: scale(1.1);
}

.ncl img:hover{
  opacity: .5;
}







html{
    scroll-snap-type: y mandatory;
    position: relative;
    overflow-y: scroll;
    scroll-behavior: smooth;
}
.homediv{
    width: 100%;
    height: 100%;

    background-color: #343A40;

    animation: fadein 1s;
   
   
   
    /*-webkit-animation: fadein 1s; /* Safari and Chrome */

}

@keyframes fadein {
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}



::-webkit-scrollbar {
  display: none;
}


#svg1{
  
}

#line1{

}